
.fill-remaining-space {
    flex: 1 1 auto;
}

.username {
    margin-right: 20px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #132584;
    color: white;
    font-weight: bold;
}
